/************************/
/*    MAIN STYLINGS:    */
/************************/

/*
    Note: Most stylings in this project you will find in the W3.CSS stylsheet
    in the header. Learn more here: https://www.w3schools.com/w3css/default.asp
*/

.error {
    color: red;
}

.inline-block {
    display: inline-block;
}

.padding-left {
    padding-left: 40px;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.margin-top-sm {
  margin-top: 8px;
}

.w3-card-4 .comment-card {
  box-shadow: none !important;
}

.comment-field {
  height: 85px;
}

.post-category {
  -moz-margin-top: 10px;
}
