<h2 class="w3-margin-left"><b>Hello, {{user.username}}!</b></h2>
<form class="w3-container">
    <input type="text" ng-model="search" class="w3-input w3-border w3-margin-bottom" placeholder="search...">
</form>
<div class="w3-container">
    <div class="w3-container w3-blue">
        <h2>Post Topics:</h2>
    </div>
    <table class="w3-table-all w3-hoverable w3-card-4 w3-responsive">
        <tr>
            <th class="w3-blue" ng-click="sortBy('category.name')">Category
                <span class="fa fa-caret-up" ng-show="propertyName === 'category.name' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'category.name' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('topic')">Topic
                <span class="fa fa-caret-up" ng-show="propertyName === 'topic' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'topic' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('user.username')">Username
                <span class="fa fa-caret-up" ng-show="propertyName === 'user.username' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'user.username' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('answerCount')">Answers
                <span class="fa fa-caret-up" ng-show="propertyName === 'answerCount' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'answerCount' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="post in allPosts | filter: search | orderBy:propertyName:reverse">
            <td ng-bind="post.category.name"></td>
            <td><a href="#!/topic/{{post._id}}">{{post.topic}}</a></td>
            <td><a href="/#!/user/{{post.user._id}}">{{post.user.username}}</a></td>
            <td ng-bind="post.answerCount"></td>
        </tr>
    </table>
</div>

<!-- New Post Container -->
<div class="w3-card-4 w3-margin">
    <!-- Container Title -->
    <div class="w3-container w3-blue">
        <h2>New Post:</h2>
    </div>
    <!-- Errors -->
    <div ng-repeat="error in newPostErrors" class="error w3-margin">
        <h3>{{error.message}}</h3>
    </div>
    <!-- Form -->
    <form ng-submit="newPost()" class="w3-container">
        <p>
            <!-- Topic Field -->
            <input type="text" name="topic" id="topic" ng-model="post.topic" class="w3-input">
            <label for="topic">Topic</label>
        </p>
        <p>
            <!-- Description Field -->
            <textarea name="description" id="description" cols="50" rows="10" ng-model="post.description" class="w3-input"></textarea>
            <label for="description"> Description</label>
        </p>
        <p>
            <!-- Category Select Field -->
            <select name="postCategory" id="postCategory" ng-model="post.category" class="w3-select w3-border">
                <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
            </select>
            <label for="postCategory">Category</label>
        </p>
        <p>
            <!-- Button -->
            <input type="submit" value="Submit">
        </p>
    </form>
</div>
