<h2 class="w3-margin-left"><b>Hello, {{user.username}}!</b></h2>
<button class="w3-bar-item w3-button w3-large w3-light-grey w3-text-shadow w3-margin-top w3-margin-right w3-margin-bottom w3-margin-left w3-right" ng-click="logout()">Logout</button>
<form class="w3-container w3-text-grey">
  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-search"></i></div>
    <div class="w3-rest">
      <input type="text" ng-model="search" class="w3-input w3-border w3-margin-bottom" placeholder="Search...">
    </div>
  </div>
</form>
<div class="w3-container">
    <div class="w3-container w3-blue">
        <h2>Post Topics:</h2>
    </div>
    <table class="w3-table-all w3-hoverable w3-card-4 w3-responsive">
        <tr>
            <th class="w3-blue" ng-click="sortBy('category.name')">Category
                <span class="fa fa-caret-up" ng-show="propertyName === 'category.name' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'category.name' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('topic')">Topic
                <span class="fa fa-caret-up" ng-show="propertyName === 'topic' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'topic' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('user.username')">Username
                <span class="fa fa-caret-up" ng-show="propertyName === 'user.username' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'user.username' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="w3-blue" ng-click="sortBy('answerCount')">Answers
                <span class="fa fa-caret-up" ng-show="propertyName === 'answerCount' && !reverse" ng-class="{reverse: reverse}"></span>
                <span class="fa fa-caret-down" ng-show="propertyName === 'answerCount' && reverse" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="post in allPosts | filter: search | orderBy:propertyName:reverse">
            <td ng-bind="post.category.name"></td>
            <td><a href="#!/topic/{{post._id}}">{{post.topic}}</a></td>
            <td><a href="/#!/user/{{post.user._id}}">{{post.user.username}}</a></td>
            <td ng-bind="post.answerCount"></td>
        </tr>
    </table>
</div>

<!-- New Post Container -->
<div class="w3-card-4 w3-margin">
    <!-- Container Title -->
    <div class="w3-container w3-blue">
        <h2>New Post:</h2>
    </div>
    <!-- Errors -->
    <div ng-repeat="error in newPostErrors" class="error w3-margin">
        <h3>{{error.message}}</h3>
    </div>
    <!-- Form -->
    <form ng-submit="newPost()" class="w3-container w3-text-blue">
        <p>
            <!-- Topic Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-question"></i></div>
              <div class="w3-rest">
                <input type="text" name="topic" id="topic" ng-model="post.topic" class="w3-input" placeholder="Topic">
              </div>
            </div>
        </p>
        <p>
            <!-- Description Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-newspaper-o"></i></div>
              <div class="w3-rest">
                <textarea name="description" id="description" cols="50" rows="10" ng-model="post.description" class="w3-input" placeholder="Description"></textarea>
              </div>
            </div>
        </p>
        <p>
            <!-- Category Select Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-angle-double-right"></i></div>
              <div class="w3-rest">
                <select name="postCategory" id="postCategory" ng-model="post.category" ng-options="category._id as category.name for category in categories" class="w3-select w3-border margin-top-sm">
                    <option value="">Choose a Category...</option>
                </select>
              </div>
            </div>
        </p>
        <p>
            <!-- Button -->
            <input type="submit" class="w3-large" value="Submit">
        </p>
    </form>
</div>
