<div class="w3-card-4 w3-margin">
    <div class="w3-container w3-blue">
        <h2>Login</h2>
    </div>
    <!-- Errors -->
    <div ng-repeat="error in loginErrors" class="error w3-margin">
        <h3>{{error.message}}</h3>
    </div>
    <!-- Login Form -->
    <form ng-submit="login()" class="w3-container w3-text-blue">
        <p>
            <!-- Username Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
              <div class="w3-rest">
                  <input type="text" name="username" id="username" ng-model="user.username" class="w3-input" placeholder="Username">
              </div>
            </div>
        </p>
        <p>
            <!-- Password Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
              <div class="w3-rest">
                <input type="password" name="password" id="password" ng-model="user.password" class="w3-input" placeholder="Password">
              </div>
            </div>
        </p>
        <p>
            <!-- Button -->
            <input type="submit" value="Login" class="w3-button w3-large w3-blue">
        </p>
    </form>
</div>
<div class="w3-card-4 w3-margin">
    <div class="w3-container w3-red">
        <h2>Register</h2>
    </div>
    <!-- Errors -->
    <div ng-repeat="error in registerErrors" class="error w3-margin">
        <h3>{{error.message}}</h3>
    </div>
    <!-- Registration Form -->
    <form ng-submit="register()" class="w3-container w3-text-red">
        <p>
            <!-- Username Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
              <div class="w3-rest">
                <input type="text" name="username" id="username" ng-model="newUser.username" class="w3-input" placeholder="Username">
              </div>
            </div>
        </p>
        <p>
            <!-- Email Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-at"></i></div>
              <div class="w3-rest">
                <input type="email" name="email" id="email" ng-model="newUser.email" class="w3-input" placeholder="Email">
              </div>
            </div>
        </p>
        <p>
            <!-- Password Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
              <div class="w3-rest">
                <input type="password" name="password" id="password" ng-model="newUser.password" class="w3-input" placeholder="Choose Password">
              </div>
            </div>
        </p>
        <p>
            <!-- Confirm Password Field -->
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
              <div class="w3-rest">
                <input type="password" name="password_confirm" id="password_confirm" ng-model="newUser.password_confirm" class="w3-input" placeholder="Confirm Password">
              </div>
            </div>
        </p>
        <p>
            <!-- Button -->
            <input type="submit" value="Register" class="w3-button w3-large w3-red">
        </p>
    </form>
</div>
